@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

.dark {
    --background-color: #000000;
    --text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.grid-cols-16 {
    grid-template-columns: repeat(16, minmax(0, 1fr));
}